@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
	margin: 0;
	padding: 0;
	color: #333333;
}

* {
  font-family: Roboto, sans-serif;
}

h1 {
  font-weight: 700;
  size: 28px;
  line-height: 32px;
	margin: 0 0 0.5em 0;
}

h2 {
  font-weight: 700;
  size: 24px;
  line-height: 28px;
	margin: 0 0 0.5em 0;
}

h3 {
  font-weight: 700;
  size: 18px;
  line-height: 21px;
	margin: 0 0 0.5em 0;
}

h4 {
  font-weight: 700;
	size: 18px;
	line-height: 21px;
	font-style: italic;
	margin: 0 0 0.5em 0;
}

h5 {
  font-weight: 700;
	size: 16px;
	line-height: 18px;
	margin: 0 0 0.5em 0;
}

h6 {
  font-weight: 700;
	size: 16px;
	line-height: 18px;
	font-style: italic;
	margin: 0 0 0.5em 0;
}

p {
	margin: 0 0 0.75em 0;
}

p, li {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

label {
	display: block;
}
input {
	width: 100%;
	margin-bottom: 8px;
}

button.primary, a.primary {
  background-color: #6B9AC4;
	text-decoration: none;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	transition: all ease-in-out 250ms;
}

button.primary:hover:not([disabled]), a.primary:hover {
	box-shadow: 0px 2px 4px rgba(35, 63, 88, 0.5);
}

button.primary:active:not([disabled]), a.primary:active {
	box-shadow: inset 0px 2px 4px rgba(35, 63, 88, 0.5);
}

button.primary[disabled] {
	background-color: #A7C4DC;
	cursor: not-allowed;
}

.panel.error {
	border: 1px solid #DB162F;
	border-left-width: 5px;
	border-radius: 4px;
  background: #F8B5BE;
	padding: 16px 8px;
}